
.container-website {
  display: flex; /* or inline-flex */
  flex-direction: row;
  width:100%
 /* height: 400px;*/
}

.container-primary {
  display: flex; /* or inline-flex */
  flex-direction: column;
  flex: 1;
  border:4px solid red;
  padding : 2px;
}

.container-newscell {
  display: flex;
  flex-direction: column;
  flex : 1;
}

.container-newscellhead {
  display: flex;
  flex-direction: column;
  flex : 1;
  border:2px solid green;
  font-size:11pt;
  font-weight:bold; 
  text-align: center;
}

.container-newscellbody {
  display: flex;
  flex-direction: column;
  flex : 3;
  overflow: auto;
  border:2px solid blue;
  font-size:11pt;
}

.container-body {
  flex: 5;

  display: flex;
  flex-direction: row;
  border:3px dashed OrangeRed;
  margin : 2px;
  padding : 2px;
}
.container-leftcol {
  flex: 1;

  display: flex;
  justify-content: space-around;
  flex-direction: column;
  border: solid yellow;
}

.container-mapcol {
  flex: 3;

  display: flex;
  justify-content: flex-start;
  align-items : stretch;
  flex-direction: column;
}

.container-rightcol {
  flex: 1;

  display: flex;
  /*justify-content: center;*/
  flex-direction: column;
  border: solid purple;
}

.container-plugin {
  /*
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  */
  border:2px solid brown;
}

.container-mapcolheading {
  display: flex;
  flex : 1;
  border:4px solid green; 
  font-size:11pt;
  font-weight:bold;
  padding: 4;
  justify-content: center;
}

.container-mapholder {
  display: flex;
  flex : 6;
  border:4px solid blue;
  height: auto;
  overflow: hidden
}

.embedded-image {
  display : flex;
  flex : 4;
  width:100%;
  height:auto;
}

.fill-height-or-more > div {
  flex: 1;

  display: flex;
  justify-content: center;
  flex-direction: column;
}