
.container-website {
  display: flex; /* or inline-flex */
  flex-direction: row;
  height: 400px; /* Or whatever */
}

.container-primary {
  display: flex; /* or inline-flex */
  flex-direction: column;
  flex: 2;
  border:2px solid red;
  margin : 2px;
  padding : 2px;
}

.container-body {
  flex: 1;

  display: flex;
  flex-direction: row;
  border:2px solid red;
  margin : 2px;
  padding : 2px;
}
.container-leftcol {
  flex: 1;

  display: flex;
  justify-content: center;
  flex-direction: column;
}

.container-mapcol {
  flex: 3;

  display: flex;
  justify-content: center;
  flex-direction: column;
}

.container-rightcol {
  flex: 1;

  display: flex;
  justify-content: center;
  flex-direction: column;
}

.container-plugin {
  display: flex; /* or inline-flex */
  flex-direction: column;
  flex: 1;
  border:2px solid brown;
}

.embedded-image {
  width:100%;
  height:auto;
}

.fill-height-or-more > div {
  flex: 1;

  display: flex;
  justify-content: center;
  flex-direction: column;
}